.background{
    background-image: url("../../../assets/fondoHelechos.jpg");
    width: 100%;
    margin:0px 0px;

}
.experiencia{
    padding: 20px;
    background-color: #25195fa9;
    
    margin: 0px 0px;
    color: black;
}
.experiencia__container{
    padding: 3px;
    margin: 10px 5px;
    width: 100%;
    background-color: #C2C1F6;
    border-radius: 30px;
}
.logos{
    display: none;
}

.experiencia__titulo, experiencia__logo{
    display: inline;
    margin: 3px;
}
.experiencia__encabezado{
 margin-bottom: 2%;
 text-shadow: 0px 0px 10px #bddcf4;
 color: rgb(238, 233, 243);
}

.logos__lista{
    list-style-type: none;
}
@media (min-width: 992px){
    .logos{
        display: block;
    }
}