<div class=" row justify-content-center experiencia col-lg-12 background">
    
    <div class="col-lg-11 experiencia justify-content-center ">
        <h1 class=" experiencia__encabezado col-lg-10"> Mi experiencia</h1>
       
        <div class="row col-lg-11 experiencia__container">
            <div class="row">
                <div class="col-lg-3 logos">
                    <ul class="logos__lista">
                        <li><img src="#" alt="logoEmpresa" class="experiencia__logo"></li>
                        <li><img src="#" alt="logoEmpresa" class="experiencia__logo"></li>
                        <li><img src="#" alt="logoEmpresa" class="experiencia__logo"></li>
                    </ul>
                </div>
                <div class="col-lg-8 experiencia__lista">
                    <ul>
                        <li>
                            <h1 class="experiencia__titulo">Trabajo 1</h1> - <h3 class="experiencia__titulo">(años)</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe est quam ad adipisci
                                illum!
                                Tenetur quae illo asperiores ipsa molestias, sunt voluptas officia ullam labore magnam,
                                quod
                                maxime officiis dicta?</p>
                        </li>


                        <li>
                            <h1 class="experiencia__titulo">Trabajo 2</h1> - <h3 class="experiencia__titulo">(años)</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe est quam ad adipisci
                                illum!
                                Tenetur quae illo asperiores ipsa molestias, sunt voluptas officia ullam labore magnam,
                                quod
                                maxime officiis dicta?</p>
                        </li>


                        <li>
                            <h1 class="experiencia__titulo">Trabajo 3</h1> - <h3 class="experiencia__titulo">(años)</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe est quam ad adipisci
                                illum!
                                Tenetur quae illo asperiores ipsa molestias, sunt voluptas officia ullam labore magnam,
                                quod
                                maxime officiis dicta?</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <h1 class="experiencia__encabezado col-lg-12"> Mi Educación</h1>
        <div class="col-lg-11 experiencia__container">
            <div class="row">
                <div class="col-lg-3 logos">
                    <ul class="logos__lista">
                        <li><img src="#" alt="logoEmpresa" class="experiencia__logo"></li>
                        <li><img src="#" alt="logoEmpresa" class="experiencia__logo"></li>
                        <li><img src="#" alt="logoEmpresa" class="experiencia__logo"></li>
                    </ul>
                </div>
                <div class="col-lg-8 experiencia__lista">
                    <ul>
                        <li>
                            <h1 class="experiencia__titulo">Formación básica</h1> - <h3 class="experiencia__titulo">
                                (años)</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe est quam ad adipisci
                                illum!
                                Tenetur quae illo asperiores ipsa molestias, sunt voluptas officia ullam labore magnam,
                                quod
                                maxime officiis dicta?</p>
                        </li>


                        <li>
                            <h1 class="experiencia__titulo">Formación Universitaria</h1> - <h3
                                class="experiencia__titulo">(años)</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe est quam ad adipisci
                                illum!
                                Tenetur quae illo asperiores ipsa molestias, sunt voluptas officia ullam labore magnam,
                                quod
                                maxime officiis dicta?</p>
                        </li>


                        <li>
                            <h1 class="experiencia__titulo">Cursos y capacitaciones</h1>
                            <ul>
                                <li>
                                    <h3>Titulo - (año)</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore quasi.
                                        Perferendis odit, odio voluptas atque cumque eum tenetur vitae adipisci, quis
                                        placeat hic! Fuga dicta ex fugit explicabo tempora.</p>
                                </li>
                                <li>
                                    <h3>Titulo - (año)</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore quasi.
                                        Perferendis odit, odio voluptas atque cumque eum tenetur vitae adipisci, quis
                                        placeat hic! Fuga dicta ex fugit explicabo tempora.</p>
                                </li>
                                <li>
                                    <h3>Titulo - (año)</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore quasi.
                                        Perferendis odit, odio voluptas atque cumque eum tenetur vitae adipisci, quis
                                        placeat hic! Fuga dicta ex fugit explicabo tempora.</p>
                                </li>
                                <li>
                                    <h3>Titulo - (año)</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore quasi.
                                        Perferendis odit, odio voluptas atque cumque eum tenetur vitae adipisci, quis
                                        placeat hic! Fuga dicta ex fugit explicabo tempora.</p>
                                </li>
                                <li>
                                    <h3>Titulo - (año)</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore quasi.
                                        Perferendis odit, odio voluptas atque cumque eum tenetur vitae adipisci, quis
                                        placeat hic! Fuga dicta ex fugit explicabo tempora.</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>