<div class="row justify-content-center">
    <h2 class="titulo">Idiomas</h2>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 circulo">
        <circle-progress [percent]="85" [radius]="70" [title]="'Español'" [titleColor]="'#690537'"
            [titleFontWeight]="'bold'" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeWidth]="12"
            [backgroundColor]="'#C2C1F6'" [animation]="true" [showSubtitle]="false" [showUnits]="false"
            [animationDuration]="600"></circle-progress>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 circulo">
        <circle-progress [percent]="85" [radius]="70" [title]="'Inglés'" [titleColor]="'#690537'"
            [titleFontWeight]="'bold'" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeWidth]="12"
            [innerStrokeWidth]="8" 
            [backgroundColor]="'#C2C1F6'" [animation]="true" [showSubtitle]="false" [showUnits]="false"
            [animationDuration]="600"></circle-progress>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 circulo">
        <circle-progress [percent]="85" [radius]="70" [title]="'Portugués'" [titleColor]="'#690537'"
            [titleFontWeight]="'bold'" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeWidth]="12"
            [innerStrokeWidth]="8" 
            [backgroundColor]="'#C2C1F6'" [animation]="true" [showSubtitle]="false" [showUnits]="false"
            [animationDuration]="600"></circle-progress>
    </div>
</div>