<div class="filtro">
<div class="row justify-content-center">
  

    <h2 class="titulo">Hard Skills</h2>
    
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 circulo">
      <circle-progress
      [percent]="85"
      [radius]="70"
      [title]="'CSS'"
      [titleColor]="'#690537'"
      [titleFontWeight]="'bold'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#7A0024'"
      [innerStrokeColor]="'#473B41'"
      [backgroundColor]="'#C2C1F6'"
      [animation]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 circulo">
      <circle-progress
      [percent]="85"
      [radius]="70"
      [title]="'HTML'"
      [titleColor]="'#690537'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
     [titleFontWeight]="'bold'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#7A0024'"
      [innerStrokeColor]="'#473B41'"
      [backgroundColor]="'#C2C1F6'"
      [animation]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 circulo">
      <circle-progress
      [percent]="85"
      [radius]="70"
      [title]="'JS'"
      [titleColor]="'#690537'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
     [titleFontWeight]="'bold'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#7A0024'"
      [innerStrokeColor]="'#473B41'"
      [backgroundColor]="'#C2C1F6'"
      [animation]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 circulo">
        <circle-progress
      [percent]="85"
      [radius]="70"
      [title]="'JAVA'"
      [titleColor]="'#690537'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
     [titleFontWeight]="'bold'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#7A0024'"
      [innerStrokeColor]="'#473B41'"
      [backgroundColor]="'#C2C1F6'"
      [animation]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 circulo">
      <circle-progress
      [percent]="85"
      [radius]="70"
      [title]="'SQL'"
      [titleColor]="'#690537'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
     [titleFontWeight]="'bold'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#7A0024'"
      [innerStrokeColor]="'#473B41'"
      [backgroundColor]="'#C2C1F6'"
      [animation]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 circulo">
      <circle-progress
      [percent]="85"
      [radius]="70"
      [title]="'Express'"
      [titleColor]="'#690537'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
     [titleFontWeight]="'bold'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#7A0024'"
      [innerStrokeColor]="'#473B41'"
      [backgroundColor]="'#C2C1F6'"
      [animation]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 circulo">
      <circle-progress
      [percent]="85"
      [radius]="70"
      [title]="'Angular'"
      [titleColor]="'#690537'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
     [titleFontWeight]="'bold'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#7A0024'"
      [innerStrokeColor]="'#473B41'"
      [backgroundColor]="'#C2C1F6'"
      [animation]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 circulo">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [title]="'Git'"
        [titleColor]="'#690537'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
       [titleFontWeight]="'bold'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#7A0024'"
        [innerStrokeColor]="'#473B41'"
        [backgroundColor]="'#C2C1F6'"
        [animation]="true"
        [showSubtitle]="false"
        [showUnits]="false"
        [animationDuration]="600"
        ></circle-progress>
      </div>
      
   
    </div>
 </div>