
    <div class="row" id="acerca">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 miFoto">
            <img src="../../../assets/fotoYo.jpg" alt="Una Foto de Mi" class="img-fluid miFoto__img">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 quienSoy">
            <p class="quienSoy__nombre">Rocío Arano (el/ella)</p>
            <p class="quienSpy__cargo"><i>Full Stack Developer Jr</i></p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí:</h1>
                <p>Tengo 24 años, vivo en Misiones. Actualmente soy estudiante de Programación Web Full Stack tanto en Argentina Programa como en Digital House, donde fuí favorecidx con una beca provincial. Me capacité además en desarrollo Mobile con React Native y Bases de datos relacionales y actualmente estoy participando de un curso de diseño UX-UI. <br> Migré desde una carrera de salud hacia el campo de la tecnología y me interesa crear soluciones que tengan impacto social y en la calidad de vida de las personas. <br> Me apasiona el realismo mágico.&#10024;</p>
            </span>
        </div>
    </div>
