.row{
    padding: 20px;
    margin: 0px 0px;
}
.quienSoy__nombre{
    font-size: 24px;
    font-weight: 500;
}
.quienSoy__cargo{
    font-size: 20px;
}
div{
    background-color: #C2C1F6;
}
.miFoto{
    text-align: center;
}
.miFoto__img{
    border-radius: 100%;
}

@media (min-width: 576px) {
    .miFoto__img{
        position: relative;
        border-radius: 100%;
        bottom: 60px;        
        box-shadow: 0px 0px 10px #bddcf4;
        z-index: 200;
        
    }
    
}
@media (min-width: 820px) {
    .miFoto__img{
        bottom: 90px;        
      
    }
    
}