<div class="row encabezado">
    <h1 class=" proyecto__encabezado col-lg-12"> Mis proyectos realizados</h1>
</div>
<div class="row justify-content-center proyecto col-lg-12 background">

    <div class="col-lg-11 proyecto justify-content-center ">

        <div class="row col-lg-11 proyecto__container">
            <div class="row">
                <div class="col-lg-3 logos">
                    <ul class="logos__lista">
                        <li><img src="#" alt="logoEmpresa" class="proyecto__logo"></li>
                        <li><img src="#" alt="logoEmpresa" class="proyecto__logo"></li>
                        <li><img src="#" alt="logoEmpresa" class="proyecto__logo"></li>
                    </ul>
                </div>
                <div class="col-lg-8 proyecto__lista">
                    <ul>
                        <li>
                            <h1 class="proyecto__titulo">Mercado Liebre</h1> - <h3 class="proyecto__titulo">(Junio 2022)</h3>
                            <p>Símil del reconocido e-comerce que realicé como trabajo práctico en Digital House, para ejercitar diseño Front-end, MVC, rutas y CRUD con Json. </p> 
                            <p><strong>#Javascript #Node.js #Express #EJS #HTML #CSS #Flexbox</strong> </p>
                            <a href=#> ¡Encontralo acá! </a>
                        </li>


                        <li>
                            <h1 class="proyecto__titulo">Orácula</h1> - <h3 class="proyecto__titulo">(En Proceso)</h3>
                            <p>Trabajo práctico integrador grupal del curso de Programación Web Full Stack de Digital House. <br> E-commerce de productos y contenidos del género fantástico.</p>
                            <p><strong>#Javascript #Node.js #Express #EJS #HTML #CSS #Flexbox</strong> </p>
                            <a href=#> ¡Encontralo acá! </a>
                        </li>


                        <li>
                            <h1 class="proyecto__titulo">Peluquería canina</h1> - <h3 class="proyecto__titulo">(Enero 2022)</h3>
                            <p>Aplicación simple de escritorio para ejercitar alta de registros en base de datos del curso de Desarrollo Web Full Stack con Java.</p>
                             <p><strong> #Java #Netbeans #SQL</strong></p>
                            <a href=#> ¡Ya estás acá! </a>
                        </li>

                        <li>
                            <h1 class="proyecto__titulo">Mi Portfolio Web</h1> - <h3 class="proyecto__titulo">(Agosto 2022)</h3>
                            <p>Portfolio Web en formato SPA que realicé como proyecto integrador para Argentina Programa</p>
                             <p><strong> #Typescript #Java #Angular #Springboot #SQL #HTML #CSS #Bootstrap </strong></p>
                            <a href=#> ¡Ya estás acá! </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>