.background {
    background-image: url("../../../assets/night.png");
    background-size: contain;
    background-position: center;
    margin: 0px 0px;

}
.encabezado{
    box-shadow: 0px 0px 30px #b8b8f4;
    position:relative; 
    z-index: 200; 
    margin: 0px 0px; 

}

.proyecto__encabezado {
    padding-bottom: 2%;
    padding-top: 4%;
    text-shadow: 3px 0px 5px #4ff50d;
    font-size: 50px;
    color: rgb(69, 21, 117);
    background-color: #C2C1F6;
    text-align: center;
    margin: 0; 

}

.proyecto {
    padding: 20px;
    margin: 0px 0px;
    color: black;
}

.proyecto__container {
    padding: 3px;
    margin: 10px 5px;
    width: 100%;
    background-color: #C2C1F6;
    border-radius: 30px;
    box-shadow: 10px 10px 5px #8c8c97cf;
   
}

.logos {
    display: none;
}

.proyecto__titulo,
proyecto__logo {
    display: inline;
    margin: 3px;

}


.logos__lista {
    list-style-type: none;
}

li{
    padding: 30px;
    list-style-type: none;
}

@media (min-width: 992px) {
    .logos {
        display: block;
    }
}
