<div class="row">
    <img class="decoration" src="../../../assets/helechos.png" alt="helechos decorativos">
    <h2 class="titulo">Soft Skills</h2>
    <h3 class="col-lg-6"><i>Personales</i></h3> 
    <h3 class="col-lg-6"><i>Interpersonales</i></h3>    
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
        <circle-progress
      [percent]="85"
      [radius]="100"
      [title]="'Creatividad'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#B1C660'"
      [innerStrokeColor]="'#473B41'"
      [animation]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [animationDuration]="600"
    ></circle-progress>
    
        <circle-progress
      [percent]="85"
      [radius]="100"
      [title]="'Resolución'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#3C754F'"
      [innerStrokeColor]="'#473B41'"
      [animation]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
        <circle-progress
      [percent]="85"
      [radius]="100"
      [title]="'Comunicación'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#B1C660'"
      [innerStrokeColor]="'#473B41'"
      [animation]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [animationDuration]="600"
    ></circle-progress>
   
        <circle-progress
      [percent]="85"
      [radius]="100"
      [title]="'Trabajo en Equipo'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#4C7F4F'"
      [innerStrokeColor]="'#473B41'"
      [animation]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
        <circle-progress
      [percent]="85"
      [radius]="100"
      [title]="'Aprendizaje'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#38581B'"
      [innerStrokeColor]="'#473B41'"
      [animation]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
        <circle-progress
      [percent]="85"
      [radius]="100"
      [title]="'Liderazgo'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#38581B'"
      [innerStrokeColor]="'#473B41'"
      [animation]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [animationDuration]="600"
    ></circle-progress>
    </div>
    
</div>